%h1= @user.name
%h4= link_to "Sign out", signout_path, id: "sign_out"

%h3 My Friends:
%ul.friends
-@friends.each do |friend|
  %li= friend['name']
  
= will_paginate @friends, class: 'apple_pagination'
