.promotion_header
  %h1 [Promotion Header]
.promotion_conditions
  %h3 [Promotion conditions]
.how_works
  %p [How this works]
  
.credit_card
  = form_for :credit_card do |f|
    = f.text_field :number, placeholder: "Enter Credit or Debit Card Number"
    = f.submit "Add Promotion to My Card", :id => "button" 
    
.bypass
  = link_to "No thanks, I'd rather print this promotion and bring it with me.", "#"

%p.fine_print 
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
