.persons
  %table
    %thead
      %tr
        %th 
          .sort
            = link_to 'A', '#', :field => 'id', :order => 'asc'
            ID
            = link_to 'V', '#', :field => 'id', :order => 'desc'
        %th 
          .sort
            =link_to 'A', '#', :field => 'name', :order => 'asc'
            Name
            = link_to 'V', '#', :field => 'name', :order => 'desc'
        %th 
          = link_to 'Add Person', '#', :id => 'get_person'
    %tbody