// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.promotion_header {
  margin: 0;
  .header_shadow {
    background-color: black;
    box-shadow: 0 10px 15px 0;
    height: 40px;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
  .bottom_shadow {
    background-color: transparent;
    box-shadow: 0 -8px 7px 0;
    display: -moz-box;
    height: 4px;
    position: absolute;
    top: 301px;
    width: 100%;
    z-index: 5;
  }
  h1 {
    font-size: 52px;
    left: 27%;
    opacity: 0.75;
    position: absolute;
    top: 40px;
    width: 570px;
    z-index: 5;
  }
  h3 {
    left: 48%;
    position: absolute;
    z-index: 6;
    margin: 10px 0;
    color: white;
  }
}
.promotion_conditions, .how_works, .credit_card, .bypass{
  text-align: center;
}
.how_works {
  height: 210px;
  width: 100%;
  margin: 40px 0;
  position: relative;
  
  .one, .two, .three {
    width: 400px;
    margin: 0;
    position: absolute;
    z-index: 1;
    
    .description {
      width: 60%;
      color: #bababa;
      margin: auto;
    }
  }
  
  .one {
    left: 20%;
  }
  .two {
    left: 36%;
    z-index: 5;
  }
  .three {
    right: 20%;
  }
 
  .shadow {
    height: 170px;
    background: url(/assets/shadow.png) no-repeat 7px 0;
    
    .number {
      width: 73px;
      height: 73px;
      margin: auto;
      padding-top: 50px;
    } 
  }

  .one .number {background: url(/assets/number_buttons.gif) no-repeat 4% 50%;}
  .two .number {background: url(/assets/number_buttons.gif) no-repeat 50% 50%;}
  .three .number {background: url(/assets/number_buttons.gif) no-repeat 95% 50%;}
}
.credit_card {
  width: 350px;
  height: 200px;
  border: 1px solid #FFF;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background: url(/assets/cc_background.png);
  
  span {
    text-align: left;
    color: #bababa;
  }
   
  input {
    &::-webkit-input-placeholder {
      color: #e8e8e8;
    }
    &:-moz-placeholder {
      color: #e8e8e8;
    }
    
    &#credit_card_number {
      color: #e8e8e8;
      font-size: 16pt;
      width: 99%;
      height: 45px;
      text-align: center;
      background-color: #b2b2b2;
      margin: 40px 0;
    
    }
  }
}

#button {
  padding: 19px 145px;
  background: url(/assets/cc_submit.gif) no-repeat 0 0;
  
  &:hover {
    cursor: pointer;
  }
}

.bypass {
  a {
    color: #bababa;
  }
}
.fine_print {
  color: #f7f7f7;
  background: #a8a8a8;
}
#home-carousel{
  height: 300px;
  overflow: hidden;
  position: relative;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    }
    #pager {
      left: 48%;
      opacity: 0.75;
      position: absolute;
      top: 270px;
      z-index: 5;
      a {
        padding: 0 4px;
      }
    }
  } 
