// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  
  padding: 0 0 25px;
  width: 1000px;
  margin: auto;
}
header {
  margin: 0;
  .header_shadow {
    background-color: black;
    box-shadow: 0 10px 15px 0;
    height: 75px;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
  .bottom_shadow {
    background-color: transparent;
    box-shadow: 0 -8px 7px 0;
    display: -moz-box;
    height: 4px;
    position: absolute;
    top: 301px;
    width: 100%;
    z-index: 5;
  }
  h1 {
    font-family: MinionPro-Regular;
    color: #5f98cf;
    font-size: 60pt;
    left: 27%;
    opacity: 0.75;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 5;
  }
  h3 {
    left: 48%;
    position: absolute;
    z-index: 6;
    margin: 2px 0;
    color: white;
  }
}
.promotion_conditions, .copy, .how_works, .credit_card, .bypass{
  text-align: center;
}
.promotion_conditions {
  width: 800px;
  margin: 20px auto;
  font-family: MinionPro-Regular;
  letter-spacing: 0.5px;
  font-size: 27pt;
  color: #bababa;
}
.copy {
  color: #5f98cf;
  font-size: 18pt;
  font-family: AvenirLTStd-Light;
}
.how_works {
  height: 280px;
  margin: auto;
  position: relative;
  width: 1000px;
  
  .one, .two, .three {
    width: 400px;
    margin: 0;
    position: absolute;
    z-index: 1;
    
    .description {
      width: 60%;
      color: #bababa;
      margin: auto;
      font-size: 15pt;
      font-family: AvenirLTStd-Light;
    }
  }
  
  .one { left: 45px; }
  .two { left: 295px; z-index: 5; }
  .three { left: 535px; }
 
  .shadow {
    height: 170px;
    background-image: url(/assets/shadow.png), url(/assets/divider.png);
    background-position: center 2px, center top;
    background-repeat: no-repeat;
    
    .number {
      width: 73px;
      height: 73px;
      margin: auto;
      padding-top: 50px;
    } 
  }

  .one .number {background: url(/assets/number_buttons.gif) no-repeat 4% 50%;}
  .two .number {background: url(/assets/number_buttons.gif) no-repeat 50% 50%;}
  .three .number {background: url(/assets/number_buttons.gif) no-repeat 95% 50%;}
}
#credit_card_shadow {
  height: 523px;
  background: url(/assets/shadow_under_card.png) no-repeat 50% 49%;
  position: relative;
  top: -60px;
}
.credit_card {
  background: url("/assets/cc_background.png") repeat scroll 0 0 transparent;
  border: 1px solid #cfcfcf;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 140px;
  width: 535px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 10px;

  form {
    height: 260px;
  }

  #credit_cards_icon {
    background: url("/assets/credit_cards.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 35px;
    margin: 10px;
    width: 226px;
  }

  a {
    color: #bababa;
    font-size: 10pt;
    font-family: AvenirLTStd-Light;
  }
  
  span.card_left {
    color: #BABABA;
    float: left;
    padding: 20px;
    font-family: AvenirLTStd-Light;
    font-size: 15pt;
  }
   
  input {
    &::-webkit-input-placeholder {
      color: #e8e8e8;
      font-size: 25pt;
    }
    &:-moz-placeholder {
      color: #e8e8e8;
      font-size: 25pt;
    }
    
    &#promotion_cards_card_number {
      background-color: #B2B2B2;
      color: #E8E8E8;
      font-family: MinionPro-Regular;
      font-size: 40pt;
      height: 58px;
      margin: 0;
      text-align: center;
      width: 532px;
    }
  }
}

.submit_button {
  /*  height: 30px;
    font-size: 10pt;
    font-weight: bold;
    color: #FFF;
    background-color: #c7a0c9;
    -webkit-border-radius: 35px;
    moz-border-radius: 35px;
    border-radius: 35px;
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.5);
    box-shadow: 0 2px 1px rgba(0,0,0,0.5);*/
    background: url("/assets/cc_submit.gif") no-repeat scroll 0 0 transparent;
    left: 106px;
    position: relative;
    top: 55px;
    height: 56px;
    width: 300px;
    &:hover {
      cursor: pointer;
    }

}

.bypass {
  a {
    color: #bababa;
    font-family: AvenirLTStd-Light;
    font-size: 16pt;
  }
}
.fine_print {
  color: #f7f7f7;
  background: #a8a8a8;
}
#home-carousel{
  height: 300px;
  overflow: hidden;
  position: relative;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    }
    #pager {
      left: 48%;
      opacity: 0.75;
      position: absolute;
      top: 270px;
      z-index: 5;
      a {
        padding: 0 4px;
      }
    }
  } 
